#home {
  width: 100%;
  height: 100%;
}

#topbar {
  background-color: #1db954;
  height: 50px;
  margin-bottom: 80px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  .logout {
    cursor: pointer;
    font-variant: small-caps;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    margin: 0 20px;
  }
}

.viewChoice {
  display: flex;
  justify-content: center;
  margin: 30px;
  color: #fff;
  font-variant: small-caps;
  font-size: 12px;
  font-weight: 600;

  span {
    margin: 0 40px;
    cursor: pointer;
  }
}

.header {
  margin: 0 auto;
  margin-bottom: 40px;
}

li {
  position: relative;
  padding: 12px 0 20px 0;
}

.stock-list,
.trade-list {
  list-style-type: none;
  margin: 0;
  padding: 0 40px;

  span {
    right: 0;
    position: absolute;
  }

  li:after {
    position: absolute;
    left: 2.5%;
    bottom: 0;
    width: 95%;
    height: 1px;
    content: ' ';
    background-color: black;
  }

  li:last-child:after {
    height: 0px;
  }
}
